@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-orbitron: var(--font-orbitron);
}

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
}